<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>ImoshochuCatalogServlet</servlet-name>
        <servlet-class>jp.kawakubo.ImoshochuCatalogServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BasketServlet</servlet-name>
        <servlet-class>jp.kawakubo.BasketServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RefreshBasketServlet</servlet-name>
        <servlet-class>jp.kawakubo.RefreshBasketServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveBasketServlet</servlet-name>
        <servlet-class>jp.kawakubo.RemoveBasketServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ImoshochuCatalogServlet</servlet-name>
        <url-pattern>/ImoshochuCatalogServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BasketServlet</servlet-name>
        <url-pattern>/BasketServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RefreshBasketServlet</servlet-name>
        <url-pattern>/RefreshBasketServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveBasketServlet</servlet-name>
        <url-pattern>/RemoveBasketServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>300</session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
